@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

* {
    margin: 0;
}

hr{
    margin: 1rem;
    text-align: center;
}

body{
    background-image: url('../media/background.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    font-family: 'JetBrains Mono';
}

body > *, section > *, div > *, img{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}

.highlight {
    color: yellow;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 0.3rem;
}

.navbar li{
    list-style: none;
}

.navbar > li > a{
    color: #f3f8f4;
    padding: 0.7rem;
    display: block;
    margin-right: 2rem;
    text-decoration: none;
    background-image: linear-gradient(rgb(191, 31, 236), rgb(14, 16, 165));
    background-repeat: no-repeat;
    background-size: 100% 0%;
    background-position: left;
    border-radius: 0.4rem;
    transition: color 0.3s ease-in-out, background-size 0.3s ease-in-out;
}

.navbar > li > a:hover{
    color: #8f8d8d;
}

#blur-effect{
    width: 0px;
    height: 0px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(129, 128, 128, 0.257);
    color: rgba(255, 255, 255, 0.485);
    filter: blur(20px);
    box-shadow: 0px 0px 300px 300px rgba(139, 138, 138, 0.218);
    z-index: -1;
    transform: rotateX(45deg);
}
